# Godot 4+ specific ignores
.godot/
/android/
*.md

# Export templates and binaries
*.exe
*.zip
*.pck
*.cc
*.apple
*.js
*.wasm
*.html
*.apk
*.aab
build/
dist/
export/

# Local/Temporary files
tukis.rar
